body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0;
}
svg {
  display: block;
  margin: 0 auto;
  overflow: auto;
}
pre {
  font-size: 5em;
}
.tick line {
  stroke: #c0c0bb;
}
.tick text {
  fill: #635f5d;
}
.marks circle {
  fill: #137880;
  opacity: 0.5;
}
.marks circle:hover {
  opacity: 1.0;
}
.marks path {
	fill: none;
  stroke: #137880;
  stroke-width: 4px;
  stroke-linejoin: round;
  stroke-linecut: round;
}
.axis-label {
  font-size: 1.5em;
  fill: #635f5d;
}
.hidden {
  display: none;
}